* {
  box-sizing: border-box;
}
body {
  background-color: #251605;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}
.div-header {
  background-color: #fbe2ac;
  height: 110px;
  margin-top: -10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#header-img {
  float: left;
  width: 100px;
  margin-left: 150px;
  height: auto;
}
#nav-bar {
  float: right;
  padding-right: 150px;
}
ul {
  display: flex;
}
.nav-link {
  padding-left: 100px;
  font-size: 20px;
  font-weight: 900;
  padding-top: 25px;
}
ul a {
  color: #251605;
  text-decoration: none;
}
.container {
  text-align: center;
  color: #fbe2ac;
  font-family: "Nunito Sans", sans-serif;
  margin: 0 auto;
}
i {
  color: #dd7230;
}
.div-form {
  margin-top: -22px;
  text-align: center;
}
.div-form h2 {
  padding-top: 20px;
  font-weight: bold;
}
#form {
  position: relative;
  text-align: center;
}
input {
  padding: 10px;
  border-radius: 5px;
}
button {
  width: 200px;
  padding: 5px;
  background-color: #dd7230;
  border-radius: 10px;
  margin-top: 20px;
}
.product-description {
  padding-right: 100px;
  padding-top: 50px;
  padding-left: 100px;
}
.product-description h1,
.product-description p {
  width: 50%;
  display: inline-block;
}
.fas {
  position: absolute;
  display: flex;
  font-size: 50px;
  top: 30px;
  left: 150px;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}
li {
  list-style: none;
}
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #829298;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
  font-weight: 800;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}
.level {
  font-weight: 1000;
}
